/*Ten sstyl jest jeszcze tworzony */

QWidget {
    background-color: #1B0C1A; /* Kolor tła głównego okna */
    color: #F2F2F2; /* Kolor tekstu */
    selection-color: #40535b; /* Ustawienie koloru zaznaczonego tekstu */
    selection-background-color: #441d32; /* Ustawienie koloru tła zaznaczonego tekstu */
}

QStatusBar {
    background-color: #333333; /* Kolor tła paska statusu */
    color: #FFFFFF; /* Kolor tekstu paska statusu */
}


QPushButton {
    background-color: #3a172a; /* Kolor tła przycisków */
    color: #F2F2F2; /* Kolor tekstu przycisków */
    border: 1px solid #2f1336; /* Grubość i kolor obramowania przycisków */
    border-radius: 5px; /* Zaokrąglenie narożników przycisków */
    padding: 5px 10px; /* Wewnętrzny odstęp przycisków */
}

QTextEdit {
    background-color: #281c2b; /* Kolor tła przycisków */
    color: #F2F2F2; /* Kolor tekstu przycisków */
    border: 1px solid #30292f; /* Grubość i kolor obramowania przycisków */
    border-radius: 5px; /* Zaokrąglenie narożników przycisków */
    padding: 5px 10px; /* Wewnętrzny odstęp przycisków */

    selection-color: #b4aaaa; /* Ustawienie koloru zaznaczonego tekstu */
    selection-background-color: #311022; /* Ustawienie koloru tła zaznaczonego tekstu */

}

QTextEdit {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop: 0 #281c2b, /* Początek gradientu */
        stop: 0.5 #30292f, /* Środkowy kolor gradientu */
        stop: 1 #1B0C1A); /* Koniec gradientu */
    color: #F2F2F2; /* Kolor tekstu */
    border: 1px solid #30292f; /* Grubość i kolor obramowania */
    border-radius: 5px; /* Zaokrąglenie narożników */
    padding: 5px 10px; /* Wewnętrzny odstęp */
    selection-color: #b4aaaa; /* Kolor zaznaczonego tekstu */
    selection-background-color: #311022; /* Kolor tła zaznaczonego tekstu */
}


QScrollBar:vertical {
    background-color: #3a0c38; /* Kolor tła pionowego paska przewijania */
    width: 10px; /* Szerokość pionowego paska przewijania */
}


QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none; /* Wyłączenie tła dla różnych części pionowego paska przewijania */
}


QScrollBar:horizontal {
    background-color: #410c3e; /* Kolor tła poziomego paska przewijania */
    height: 10px; /* Wysokość poziomego paska przewijania */
}
QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
    background-color: #231225; /* Kolor "uchwytu" poziomego paska przewijania */
    border-radius: 5px; /* Zaokrąglenie narożników "uchwytu" */
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none; /* Wyłączenie tła dla różnych części poziomego paska przewijania */
}


QDoubleSpinBox {
    background-color: #36193b; /* Kolor tła przycisków */
    color: #F2F2F2; /* Kolor tekstu przycisków */
    border: 1px solid #2D222F; /* Grubość i kolor obramowania przycisków */
    border-radius: 5px; /* Zaokrąglenie narożników przycisków */
    padding: 5px 10px; /* Wewnętrzny odstęp przycisków */
}

QDoubleSpinBox::up-button, QDoubleSpinBox::down-button {
    width: 0px; /* Ustaw szerokość przycisków na 0, aby je ukryć */
}


QSpinBox {
    background-color: #36193b; /* Kolor tła przycisków */
    color: #F2F2F2; /* Kolor tekstu przycisków */
    border: 1px solid #2D222F; /* Grubość i kolor obramowania przycisków */
    border-radius: 5px; /* Zaokrąglenie narożników przycisków */
    padding: 5px 10px; /* Wewnętrzny odstęp przycisków */
}

QPushButton:hover {
    background-color: #331324; /* Kolor tła przycisków po najechaniu myszką */
}

QProgressBar { /* Styl dla paska postępu */
    border: 2px solid #231225; /* Grubość i kolor obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    text-align: center; /* Wycentrowany tekst */
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop: 0 #250623, /* Początek gradientu */
        stop: 0.5 #351c34, /* Środkowy kolor gradientu */
        stop: 1 #1b0c1a); /* Koniec gradientu */
}

QProgressBar::chunk { /* Styl dla wypełnienia paska postępu */
    background-color: #3e1642; /* Kolor wypełnienia */
    width: 10px; /* Szerokość wypełnienia */
}


/* Usunięcie obramowania dla panelu zakładek */
QTabWidget {
    border: none;
}


QTabWidget::pane { /* Styl dla panelu zakładek */
    border-top: 0px solid #343637; /* Górne obramowanie panelu */
}

QTabWidget::tab-bar { /* Styl dla paska zakładek */
    alignment: left; /* Wyrównanie do lewej */
}

QTabBar::tab { /* Styl dla pojedynczej zakładki */
    background-color: #350731; /* Kolor tła zakładki */
    color: #F2F2F2; /* Kolor tekstu */
    min-width: 55px; /* Minimalna szerokość zakładki */
    padding: 5px; /* Wewnętrzny odstęp */
    margin-right: 2px; /* Prawy margines */
    padding-right: 19%;
    text-align: center; /* Wyśrodkowanie tekstu */
    padding-left: 21%;

}

QTabBar::tab:selected { /* Styl dla wybranej zakładki */
    background-color: #231225; /* Kolor tła wybranej zakładki */
    color: #f2f2f2; /* Kolor tekstu */
}

QTabBar::tab:last {
    margin-right: 0;
    border-bottom-right-radius: 7px; /* Zaokrąglenie górnego prawego rogu */
}